
html{
    font-size:16px    
}


.clearfix:before,
.clearfix:after {
   content: '';
   display: table;
   clear: both;
}

img{
    max-width: 100%;
    height: auto;
}

.container{
    margin:auto;
    max-width:1240px;
    width:100%;
}

head{
    font-family: "playfair_displayregular";
}

header{
    height:100px;
}

.mostloveditalic{
    font-family: "playfair_displayitalic"
}

.rwbold{
    font-family: "playfair_displaybold"
}

.collection{
    font-size: 1.25rem;
}

.seasons{
    font-size: 3rem;
}
.oceanheader{
    font-size: 2.2rem;
}
.stayupdatedtext{
    font-size: 1.2rem;
}
.stayupdatedspacing{
    height:10px;
}
.textmargin{
    height:40px;
}
.textmarginsignup{
    height:20px;
}
.redwords{
    color:#e2574c;
    font-size: 1.5rem;
    font-weight: bold;
    font-family: "playfair_displayregular"
}
.clothestext{
    color: #969696;
    font-family: "ralewaylight"
}

.logo{
    float:left;
    width:200px;
    padding-top:1%;
    padding-bottom: 1%;
    padding-left:1%;
    height: 50px;
}

.cart{
    float:right;
    width:75px;
    height:50px;
    padding-right:1%;
    padding-top:1%;
    padding-bottom:1%;
}
body{
    margin:auto;
    font-family: "ralewaylight";
    color: #2d2d2d;
}

.bannertext{
    color:white;
    position:absolute;
    width: 100%;
    text-align: center;
    top: 50%;
    transform:translate(0,-50%);
    text-shadow: 2px 2px 3px #969696;
}

.herobanner{
    background: linear-gradient(rgba(0,0,0,.35),rgba(0,0,0,0.35)) no-repeat center center,url(assets/images/banner-girl.png) no-repeat center center, url(assets/images/flower-bkgd.jpg) repeat-x center top;
    height: 550px;
    position:relative;
    background-size:cover,250px,cover;
    background-position-y: 0px,60px,0px;
}

.handcrafted{
    text-align: center;

}

.handcraftedtext{
    font-size:1.25rem;
}

.divider{
    background-color:#d7d7d7;
    height: 1px;
}
.mostloved{
    text-align: center;
    line-height: 200%;
}
.mostlovedtext{
    display: inline-block;
    font-size: 1.30rem;
}
.appareltextspace{
    line-height: 200%;
}

.clotheslove div{
    text-align: center;
    float:left;
    width:25%;
}

.oceantext{
    text-align: center;
    color:white;
    position:relative;
    width: 100%;
    top:22%;
}

.wrapper {
    border:7px solid white;
    display:inline-block;
    border-radius: 20px;
    position:relative;
}
.wrapper:hover{
    box-shadow: 2px 2px 2px #969696;
}

.emaillabel{
    background-color: white;
}
input
 {
    background-color:white;
    border:0;
    font-size: 1.5rem;
}

button{
    background-color: #e2574c;
    padding: 6px;
    border:5px;
    border-radius: 15px;
    color: white;
    position: absolute;
    right:0;
    top: -4px;
    font-size: 1.4rem;
}

.oceanwave{
    background-image: linear-gradient(rgba(0,0,0,.20),rgba(0,0,0,0.20)), url(assets/images/wave-bkgd.jpg);
    height: 350px;
    background-repeat:no-repeat;
    background-position:center bottom;
    text-shadow: 2px 2px 3px #969696;
}

.whitedivider{
    background-color:white;
    height:6px;
}
.footermargin{
    height: 50px;
    width:100%;
}
.footertext{
    float: left;
    transform: translateX(80px)
}

.phonenumbertext{
    color:white;
}

.emailtext{
    text-decoration: underline;
}

.sociallist{
    color:black;
    text-decoration:none;
    list-style:none;
    float:right;
}
.sociallist a{
    text-decoration: none;
    color:white;
}
.sociallist a:hover{
    color:#e2574c;

}
.apparelspacing {
    line-height: 150%;
    color:white;
}
.footertextspace{
    height:20px;
}

.linklist{
    line-height: 210%;
    transform:translate(-150px,-11px);
}

.locationtext{
    color:#969696;
}
footer{
    background-color: #242424;
    height:250px;
    font-family: "playfair_displayregular"
}

/* Generated by Font Squirrel (https://www.fontsquirrel.com) on September 29, 2016 */



@font-face {
    font-family: 'playfair_displaybold';
    src: url('assets/fonts/playfair-display/playfairdisplay-bold-webfont.eot');
    src: url('assets/fonts/playfair-display/playfairdisplay-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('assets/fonts/playfair-display/playfairdisplay-bold-webfont.woff2') format('woff2'),
         url('assets/fonts/playfair-display/playfairdisplay-bold-webfont.woff') format('woff'),
         url('assets/fonts/playfair-display/playfairdisplay-bold-webfont.ttf') format('truetype'),
         url('assets/fonts/playfair-display/playfairdisplay-bold-webfont.svg#playfair_displaybold') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'playfair_displaybold_italic';
    src: url('assets/fonts/playfair-display/playfairdisplay-bolditalic-webfont.eot');
    src: url('assets/fonts/playfair-display/playfairdisplay-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('assets/fonts/playfair-display/playfairdisplay-bolditalic-webfont.woff2') format('woff2'),
         url('assets/fonts/playfair-display/playfairdisplay-bolditalic-webfont.woff') format('woff'),
         url('assets/fonts/playfair-display/playfairdisplay-bolditalic-webfont.ttf') format('truetype'),
         url('assets/fonts/playfair-display/playfairdisplay-bolditalic-webfont.svg#playfair_displaybold_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'playfair_displayitalic';
    src: url('assets/fonts/playfair-display/playfairdisplay-italic-webfont.eot');
    src: url('assets/fonts/playfair-display/playfairdisplay-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('assets/fonts/playfair-display/playfairdisplay-italic-webfont.woff2') format('woff2'),
         url('assets/fonts/playfair-display/playfairdisplay-italic-webfont.woff') format('woff'),
         url('assets/fonts/playfair-display/playfairdisplay-italic-webfont.ttf') format('truetype'),
         url('assets/fonts/playfair-display/playfairdisplay-italic-webfont.svg#playfair_displayitalic') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'playfair_displayregular';
    src: url('assets/fonts/playfair-display/playfairdisplay-regular-webfont.eot');
    src: url('assets/fonts/playfair-display/playfairdisplay-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('assets/fonts/playfair-display/playfairdisplay-regular-webfont.woff2') format('woff2'),
         url('assets/fonts/playfair-display/playfairdisplay-regular-webfont.woff') format('woff'),
         url('assets/fonts/playfair-display/playfairdisplay-regular-webfont.ttf') format('truetype'),
         url('assets/fonts/playfair-display/playfairdisplay-regular-webfont.svg#playfair_displayregular') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'ralewaylight';
    src: url('assets/fonts/raleway/raleway-light-webfont.eot');
    src: url('assets/fonts/raleway/raleway-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('assets/fonts/raleway/raleway-light-webfont.woff2') format('woff2'),
         url('assets/fonts/raleway/raleway-light-webfont.woff') format('woff'),
         url('assets/fonts/raleway/raleway-light-webfont.ttf') format('truetype'),
         url('assets/fonts/raleway/raleway-light-webfont.svg#ralewaylight') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'ralewaylight_italic';
    src: url('assets/fonts/raleway/raleway-lightitalic-webfont.eot');
    src: url('assets/fonts/raleway/raleway-lightitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('assets/fonts/raleway/raleway-lightitalic-webfont.woff2') format('woff2'),
         url('assets/fonts/raleway/raleway-lightitalic-webfont.woff') format('woff'),
         url('assets/fonts/raleway/raleway-lightitalic-webfont.ttf') format('truetype'),
         url('assets/fonts/raleway/raleway-lightitalic-webfont.svg#ralewaylight_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'ralewaymedium';
    src: url('assets/fonts/raleway/raleway-medium-webfont.eot');
    src: url('assets/fonts/raleway/raleway-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('assets/fonts/raleway/raleway-medium-webfont.woff2') format('woff2'),
         url('assets/fonts/raleway/raleway-medium-webfont.woff') format('woff'),
         url('assets/fonts/raleway/raleway-medium-webfont.ttf') format('truetype'),
         url('assets/fonts/raleway/raleway-medium-webfont.svg#ralewaymedium') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'ralewaymedium_italic';
    src: url('assets/fonts/raleway/raleway-mediumitalic-webfont.eot');
    src: url('assets/fonts/raleway/raleway-mediumitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('assets/fonts/raleway/raleway-mediumitalic-webfont.woff2') format('woff2'),
         url('assets/fonts/raleway/raleway-mediumitalic-webfont.woff') format('woff'),
         url('assets/fonts/raleway/raleway-mediumitalic-webfont.ttf') format('truetype'),
         url('assets/fonts/raleway/raleway-mediumitalic-webfont.svg#ralewaymedium_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}